%h1 Congratulations!
%h2 
  You're
  %em awesome!
  
%img{ :src => 'awesome.jpg', :alt => 'Awesome', :class => 'bordered' }
    
%p You've successfully logged in using door code. Now you may <a href="/logout">logout</a>.